name: Style Checks 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Run cargo check
        if: success() || failure()
        run: cargo check
      - name: Check code formatting
        if: success() || failure()
        run: cargo fmt -- --check
      - name: Run Clippy
        if: success() || failure()
        run: cargo clippy -- --deny warnings

  testing:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Install cargo-expand
        run: cargo install cargo-expand
      - name: Run cargo test
        run: cargo test --verbose
